/* Estilos generales */

* {
 margin: 0;
 padding: 0;
}

body {
 font-family: "Poppins, sans-serif";
}

p {
 color: rgb(85, 85, 85);
}

/* Transiciones */
a,
.btn {
 transition: all 300ms ease;
}

/* seccion del perfil */
.perfil {
 display: flex;
 justify-content: center;
 gap: 80px;
 height: 80vh;
 padding-top: 80px;
}

.foto-perfil img {
 display: flex;
 height: 500px;
 width: auto;
 margin: auto 0;
 border-radius: 20%;
}

.seccion-textos {
 align-self: center;
 text-align: center;
}

.seccion-textos p {
 font-weight: 600;
}

.section-textos-p2 {
 text-align: center;
}

/* Iconos */

.icon {
 cursor: pointer;
 height: 2rem;
}

/* Botones */

.btn-contenedor {
 display: flex;
 justify-content: center;
 gap: 1rem;
}

.btn {
 font-weight: 600;
 transition: all 300ms ease;
 padding: 1rem;
 width: 8rem;
 border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
 border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
 cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
 background: rgb(53, 53, 53);
 color: white;
}

.btn-color-1:hover {
 background: rgb(255, 255, 255);
}

.btn-color-2 {
 background: none;
}

.btn-color-2:hover {
 border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-contenedor {
 gap: 1rem;
}

/* Sección contacto */

.contacto .container {
 max-width: 1100px;
 min-height: 200px;
 padding: 20px;
}

.contacto,
button {
 color: white;
 font-weight: bold;
 background-color: transparent;
 border: 2px solid white;
 padding: 1.25rem 2rem;
 margin: 1rem;
 border-radius: 100px;
 transition: all 0.2s ease-in-out;
}

.contacto,
button:hover {
 background-color: white;
 color: black;
}

/* Sección Footer */
footer p {
 text-align: center;
}
